Source: carbon-c-relay
Section: net
Priority: extra
Maintainer: vnz <vleraitre@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/grobian/carbon-c-relay/

Package: carbon-c-relay
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Carbon-like graphite line mode relay.
 This project aims to be a replacement of the original Carbon relay
 http://graphite.readthedocs.org/en/1.0/carbon-daemons.html#carbon-relay-py

